# SystemD users : 
# Drop this file under /etc/systemd/system and "systemctl enable mcuconnectd" "systemctl start mcuconnectd"

[Unit]
Description=Home system regulation
After=network.target

[Service]
Type=simple
ExecStart=/path/to/deamon/mcuconnectd > /dev/null
Restart=always

[Install]
WantedBy=multi-user.target
