#systemD users: 
#drop this file under /etc/systemd/system and "systemctl enable daemon" "systemctl start daemon"

[Unit]
Description=Home system regulation
After=network.target

[Service]
Type=simple
#ExecStartPre=/bin/rm -f /var/run/node-mcu-daemon.pid
#ExecStart=/usr/bin/node /home/dja/tp.js
ExecStart=/path/to/daemon > /dev/null
#PIDFile=/var/run/node-mcu-daemon.pid
Restart=always

[Install]
WantedBy=multi-user.target
